<div class="collapse" id="outputCoursesId">
    <pre class="mt-3 p-2" id="output">
{
    "_id": 551, 
    "course": "Curso de API REST", 
    "description": "Aprende desde configurar tus entornos de desarrollo hasta lograr implementar los servicios REST, como GET, POST, DELETE y PUT, incluyendo autenticaci\u00f3n y manejo de errores. Las cuales lo podr\u00e1s integrar con cualquier framework del lado Frontend.", 
    "teacher": [
        "Mauro Chojrin"
    ], 
    "project": {
        "title": "Biblioteca Virtual", 
        "description": "El estudiante desarrollar\u00e1 una base de datos para una biblioteca a la cual puedan hac\u00e9rsele consultas a trav\u00e9s de una API REST", 
        "image": "https://static.platzi.com/media/landing-projects/Proyecto-API-REST.gif"
    }, 
    "With this course you can": [], 
    "url": "https://platzi.com/cursos/api-rest/", 
    "badge": "https://static.platzi.com/media/achievements/badge-api-rest-212c45cd-0b2b-4989-90c5-b489c0627de4.png", 
    "comments": [
        "Es un curso muy pr\u00e1ctico y f\u00e1cil de comprender, excelente explicaci\u00f3n y ejercicios.", 
        "Curso sencillo y r\u00e1pido para entender las Apis Rest", 
        "Muy bueno, importante hacer el proyecto para familiarizarte con el procedimiento"
    ], 
    "_type": "dict"
}

    </pre>
</div>