<div class="collapse" id="outputCoursesFilter">
    <pre class="mt-3 p-2" id="output">
{
    "_id": 63, 
    "course": "Curso Profesional de Git y GitHub", 
    "description": "Deja de versionar tus proyectos usando tu propio sistema de control de versiones. Mejor usa Git, el sistema de controlde versiones por excelencia que utiliza la industria tecnol\u00f3gica. Aprende a trabajar con git, conceptos b\u00e1sicos, clonar un repositorio y gestionar tus proyectos aloj\u00e1ndolos en tu repositorio local y en GitHub.", 
    "teacher": [
        "Freddy Vega"
    ], 
    "project": {
        "title": null, 
        "description": null, 
        "image": null
    }, 
    "With this course you can": [
        "Llevar un Control de Versiones en tus Proyectos con Git", 
        "Trabajar en Equipos de Forma Colaborativa", "
        Utilizar Dominios Personalizados con GitHub Pages", 
        "Instalar Git en tu sistema operativo", 
        "Aplicar un flujo de trabajo profesional en tus proyectos", 
        "Trabajar con m\u00faltiples entornos de trabajo"
    ], 
    "url": "https://platzi.com/cursos/git-github/", 
    "badge": "https://static.platzi.com/media/achievements/badge-github-0b729570-934d-47d8-ba6b-610d7f15e0ec.png", 
    "comments": [
        "Es un excelente curso dictado por freddy, para entender,  aplicar y dominar git y github.", 
        "Un curso que en definitiva, todos deber\u00edan tomar para adentrarse en el mundo de la tecnologia, y el mejor profesor", 
        "Creo que las preguntas se prestan para mas de una interpretaci\u00f3n."
    ], 
    "_type": "dict"
}, 
{
    "_id": 100, 
    "course": "Curso Gratis de Programaci\u00f3n B\u00e1sica", 
    "description": "Programa desde cero, domina Javascript, entiende HTML y aprende de algoritmos. ", 
    "teacher": [
        "Freddy Vega"
    ], 
    "project": {
        "title": null, 
        "description": null, 
        "image": null
    }, 
    "With this course you can": [
        " Entender HTML, CSS y JavaScript", "Programar m\u00faltiples proyectos", 
        "Crear funciones, eventos, y objetos", "Dise\u00f1ar Algoritmos", 
        "Programar Hardware"
    ], 
    "url": "https://platzi.com/cursos/programacion-basica/", 
    "badge": "https://static.platzi.com/media/achievements/1050-bfb74f83-8e2e-4ff7-a66d-77d2c0067908.png", 
    "comments": [
        "Excelente curso introductorio, la forma de explicar de freddy es muy asertiva.", 
        "excelente curso, bastante completo para iniciar en la programaci\u00f3n y el profesor explica de una manera clara", 
        "bastante entendible respecto a su contenido y el profesor muy bien organizado y con una clara capacidad de transmitir sus conocimientos"
    ], 
    "_type": "dict"
}, {"_id": 143, ......

    </pre>
</div>