<div class="collapse" id="outputCoursesAll">
  <pre class="mt-3 p-2" id="output">
{
    "_id": 0, 
    "course": "Curso de ICO: Initial Coin Offering", 
    "description": "Invierte con criptomonedas y conoce nuevas formas de inversi\u00f3n asociadas al uso de ICO. Aprende c\u00f3mo y d\u00f3nde buscar capital para tus proyectos. Entiende el mercado y expande tus \u00e1reas de inversi\u00f3n a trav\u00e9s de Initial Coin Offering.", 
    "teacher": ["Javier Trujillo"], 
    "project": {
        "title": null, 
        "description": null, 
        "image": null
    }, 
    "With this course you can": [], 
    "url": "https://platzi.com/cursos/ico/", 
    "badge": "https://static.platzi.com/media/achievements/1379-21fa98c6-dc52-4dbb-97aa-6c759a459a96.png", 
    "comments": [
        "Excelente curso, buenas clases :D....muy buena informaci\u00f3n y a seguir apoyando blockchain", 
        "Buen curso, buen docente, le falt\u00f3 un poco m\u00e1s de profundidad a los temas ", 
        "Esta bueno como pantallazo para poder adentrarse en el mundo de ICOs y descubrir nuevos conceptos"
    ], 
    "_type": "dict"
}, 

{
    "_id": 1, 
    "course": "Curso de Ingl\u00e9s para Finanzas", 
    "description": "En este curso aprender\u00e1s acerca de los conceptos y principios b\u00e1sicos de las finanzas en ingl\u00e9s y tendr\u00e1s una comprensi\u00f3n m\u00e1s profunda de las estructuras comerciales y sus funciones.", 
    "teacher": ["Suzan Gary"], 
    "project": {
        "title": null, 
        "description": null, 
        "image": null
    }, 
    "With this course you can": [], 
    "url": "https://platzi.com/cursos/ingles-finanzas/", 
    "badge": "https://static.platzi.com/media/achievements/badge-ingles-finanzas-7028fa46-62c2-4da5-86f3-5531097d04bc.png", 
    "comments": [
        "Not too in-depth but pretty concise with terms and concepts.", 
        "This knowledge is basic to have and understand financial conversations, even if you don't belong to this area. Suzan is the best!", 
        "El curso ense\u00f1a aspectos claves sobre finanzas y t\u00e9rminos en ingl\u00e9s."
    ], 
    "_type": 
    "dict"
}, 

{"_id": 2 ......}
    </pre>
</div>
