<div class="collapse" id="outputLearningPathsAll">
    <pre class="mt-3 p-2" id="output">
{
    "_id": 0,
    "learning Path": "Escuela de Startups",
    "description": "Empieza a crear tu Startup y si ya tienes una acel\u00e9rala. Aprende a afrontar los desaf\u00edos como actual o futuro emprendedor. \u00a1Crea el pr\u00f3ximo unicornio!",
    "courses": {
        "Curso para Comenzar tu Camino Emprendedor": "https://platzi-api.erik172.dev/api/v1/courses/299",
        "Curso de Business Model Canvas": "https://platzi-api.erik172.dev/api/v1/courses/298",
        "Introducci\u00f3n a la Creaci\u00f3n de Empresas y Startups": "https://platzi-api.erik172.dev/api/v1/courses/297",
        "Curso de Construcci\u00f3n de Marca": "https://platzi-api.erik172.dev/api/v1/courses/296",
        "Curso de Storytelling": "https://platzi-api.erik172.dev/api/v1/courses/295",
        "Taller de Creaci\u00f3n de Startups": "https://platzi-api.erik172.dev/api/v1/courses/294",
        "Curso de Finanzas para Startups": "https://platzi-api.erik172.dev/api/v1/courses/293",
        "Curso de Introducci\u00f3n a SEO: Posicionamiento en Buscadores": "https://platzi-api.erik172.dev/api/v1/courses/292",
        "Curso B\u00e1sico de Seguridad Inform\u00e1tica para Empresas": "https://platzi-api.erik172.dev/api/v1/courses/291",
        "Curso de Internacionalizaci\u00f3n para Startups": "https://platzi-api.erik172.dev/api/v1/courses/290",
        "Curso de Reclutamiento de Talento": "https://platzi-api.erik172.dev/api/v1/courses/289",
        "Curso de Introducci\u00f3n a la Creaci\u00f3n de Cultura para Startups": "https://platzi-api.erik172.dev/api/v1/courses/288",
        "Curso de Log\u00edstica para Startups": "https://platzi-api.erik172.dev/api/v1/courses/287",
        "Curso de Liderazgo para Equipos de Trabajo": "https://platzi-api.erik172.dev/api/v1/courses/286",
        "Curso de Growth para Startups": "https://platzi-api.erik172.dev/api/v1/courses/285",
        "Curso para Entrar a YC": "https://platzi-api.erik172.dev/api/v1/courses/284",
        "Curso de Google Suite": "https://platzi-api.erik172.dev/api/v1/courses/283",
        "Curso de Google Analytics": "https://platzi-api.erik172.dev/api/v1/courses/282",
        "Curso de Administraci\u00f3n de Actividades con Trello": "https://platzi-api.erik172.dev/api/v1/courses/281",
        "Curso de Fundamentos de AWS Cloud": "https://platzi-api.erik172.dev/api/v1/courses/280",
        "Curso de Automatizaci\u00f3n de Procesos con Zapier": "https://platzi-api.erik172.dev/api/v1/courses/279",
        "Curso de Excel Financiero": "https://platzi-api.erik172.dev/api/v1/courses/278",
        "Curso de Estrategia Comercial": "https://platzi-api.erik172.dev/api/v1/courses/277",
        "Curso de Introducci\u00f3n a Business Intelligence con Excel": "https://platzi-api.erik172.dev/api/v1/courses/276",
        "Curso de Estrategia Comercial B2B": "https://platzi-api.erik172.dev/api/v1/courses/275",
        "Curso de Prevenci\u00f3n de Riesgos Laborales": "https://platzi-api.erik172.dev/api/v1/courses/274",
        "Curso de Liderazgo Empresarial": "https://platzi-api.erik172.dev/api/v1/courses/273",
        "Curso de ICO: Initial Coin Offering": "https://platzi-api.erik172.dev/api/v1/courses/0"
    },
    "teachers": [
        "Juan Pablo Rojas",
        "Yesica Cort\u00e9s",
        "Jorge Moreno",
        "Raquel Mosquera",
        "Andr\u00e9s Londo\u00f1o",
        "Javier Trujillo",
        "Mauro Parra Miranda",
        "Ricardo Adolfo Vel\u00e1squez Ordo\u00f1ez",
        "Ana Gisbert Martin de Hijas",
        "Torrance Carroll",
        "Marcela Torres",
        "Ximena Hern\u00e1ndez",
        "Marcela Cardenas de Bedout",
        "Mar\u00eda Plaza C",
        "Vaka Lazzari",
        "Juan Camilo Gonz\u00e1lez",
        "Mar\u00eda Victoria Navarro",
        "Felipe Rios",
        "Christian Van Der Henst",
        "Santiago Zavala",
        "Julian Caviedes",
        "David Torres",
        "Tiago Sada",
        "Ricardo Barra",
        "Nicole Chapaval",
        "Juliane Butty",
        "Jaime Daza",
        "Natalia Fainberg",
        "David Aroesti",
        "Javier Cifuentes",
        "Freddy Vega",
        "Pamela Vald\u00e9s",
        "Marina De Giobbi"
    ],
    "badge": "https://static.platzi.com/media/learningpath/badges/4f607e93-e930-4248-982c-f044ece07fb0.jpg",
    "url": "https://platzi.com/startups/",
    "_type": "dict"
},
{
    "_id": 1,
    "learning Path": "Escuela de Ingl\u00e9s",
    "description": "Aprende ingl\u00e9s desde cero. Consigue oportunidades de trabajo internacionales y duplica tus ingresos al comunicarte efectivamente en ingl\u00e9s.",
    "courses": {
        "Curso de Estrategias para Aprender Ingl\u00e9s Online": "https://platzi-api.erik172.dev/api/v1/courses/272",
        "Curso de Ingl\u00e9s para Principiantes": "https://platzi-api.erik172.dev/api/v1/courses/271",
        "Taller de Ingl\u00e9s para Principiantes": "https://platzi-api.erik172.dev/api/v1/courses/270",
        "Curso de Ingl\u00e9s B\u00e1sico: Fundamentos": "https://platzi-api.erik172.dev/api/v1/courses/269",
        "Curso de Ingl\u00e9s B\u00e1sico: Gram\u00e1tica": "https://platzi-api.erik172.dev/api/v1/courses/268",
        "Curso de Ingl\u00e9s B\u00e1sico: Conversaci\u00f3n": "https://platzi-api.erik172.dev/api/v1/courses/267",
        "Curso de Ingl\u00e9s B\u00e1sico: Pronunciaci\u00f3n": "https://platzi-api.erik172.dev/api/v1/courses/266",
        "Curso de Ingl\u00e9s Pr\u00e1ctico: Fundamentos": "https://platzi-api.erik172.dev/api/v1/courses/265",
        "Curso de Ingl\u00e9s Pr\u00e1ctico: Gram\u00e1tica": "https://platzi-api.erik172.dev/api/v1/courses/264",
        "Curso de Ingl\u00e9s Pr\u00e1ctico: Conversaci\u00f3n": "https://platzi-api.erik172.dev/api/v1/courses/263",
        "Curso de Ingl\u00e9s Pr\u00e1ctico: Pronunciaci\u00f3n": "https://platzi-api.erik172.dev/api/v1/courses/262",
        "Curso de Ingl\u00e9s Intermedio: Gram\u00e1tica": "https://platzi-api.erik172.dev/api/v1/courses/261",
        "Curso de Ingl\u00e9s Intermedio: Conversaci\u00f3n": "https://platzi-api.erik172.dev/api/v1/courses/260",
        "Curso de Ingl\u00e9s Intermedio: Pronunciaci\u00f3n": "https://platzi-api.erik172.dev/api/v1/courses/259",
        "Curso de Ingl\u00e9s Intermedio para el Trabajo": "https://platzi-api.erik172.dev/api/v1/courses/258",
        "Curso de Ingl\u00e9s Intermedio Alto: Gram\u00e1tica": "https://platzi-api.erik172.dev/api/v1/courses/257",
        "Curso de Ingl\u00e9s Intermedio Alto: Conversaci\u00f3n": "https://platzi-api.erik172.dev/api/v1/courses/256",
        "Curso de Ingl\u00e9s Avanzado: Gram\u00e1tica": "https://platzi-api.erik172.dev/api/v1/courses/255",
        "Curso de Ingl\u00e9s Avanzado: Conversaci\u00f3n": "https://platzi-api.erik172.dev/api/v1/courses/254",
        "Curso de Ingl\u00e9s Avanzado: Pronunciaci\u00f3n": "https://platzi-api.erik172.dev/api/v1/courses/253",
        "Curso de Ingl\u00e9s Avanzado: Trabajo": "https://platzi-api.erik172.dev/api/v1/courses/252",
        "Curso de Ingl\u00e9s T\u00e9cnico para Profesionales": "https://platzi-api.erik172.dev/api/v1/courses/251",
        "Curso de Ingl\u00e9s para Entrevistas de Trabajo": "https://platzi-api.erik172.dev/api/v1/courses/250",
        "Curso de Escritura en Ingl\u00e9s": "https://platzi-api.erik172.dev/api/v1/courses/249",
        "Curso de Ingl\u00e9s para Developers": "https://platzi-api.erik172.dev/api/v1/courses/248",
        "Curso de Ingl\u00e9s para Marketing": "https://platzi-api.erik172.dev/api/v1/courses/247",
        "Curso de Ingl\u00e9s para Ventas y Negocios": "https://platzi-api.erik172.dev/api/v1/courses/246",
        "Curso de Ingl\u00e9s para Finanzas": "https://platzi-api.erik172.dev/api/v1/courses/245",
        "Curso de Preparaci\u00f3n para TOEFL": "https://platzi-api.erik172.dev/api/v1/courses/244",
        "Curso de Ingl\u00e9s para Viajes": "https://platzi-api.erik172.dev/api/v1/courses/243",
        "Curso de Preparaci\u00f3n para IELTS": "https://platzi-api.erik172.dev/api/v1/courses/1"
    },
    "teachers": [
        "Paula Becerra",
        "Jhon Carvajal",
        "Mariana Laf\u00f3n",
        "Suzan Gary",
        "Mar\u00eda Teresa Gonz\u00e1lez Pacheco de Mucha",
        "Andr\u00e9s Montilla",
        "Jenna Christine VanderBrook",
        "Carolina Boqu\u00edn",
        "Carlos Arriaga Luna",
        "Jess Harris",
        "Francisco Lanz",
        "Andrea Vel\u00e1squez",
        "Carolina Boqu\u00edn",
        "Gina Pedraza",
        "Emma Carvajal",
        "Gaby Van Horn",
        "Ana Karina Gonz\u00e1lez"
    ],
    "badge": "https://static.platzi.com/media/learningpath/badges/db8f6abd-8482-4994-82ae-30f70aa77393.jpg",
    "url": "https://platzi.com/idioma-ingles/",
    "_type": "dict"
},
{"_id": 2, .....}
      </pre>
  </div>