<div class="collapse" id="outputPostsAll">
    <pre class="mt-3 p-2" id="output">
{
    "_id": 0, 
    "name": "Ada Lovelace, poeta cient\u00edfica", 
    "description": "Discriminada por ser mujer, firmaba sus art\u00edculos matem\u00e1ticos con sus iniciales por temor a ser rechazada.Y a pesar de una par\u00e1lisis, luego de sufrir sarampi\u00f3n...", 
    "author": "avanegaspinto", 
    "date": "hace 1 hora", 
    "link": "https://platzi.com/blog/ada-lovelace-poeta-cientifica/", 
    "_type": "dict"
}, 
{
    "_id": 1, 
    "name": "Incrementa tus ventas en Navidad y A\u00f1o Nuevo", 
    "description": "El 2020 fue un a\u00f1o dif\u00edcil, pero tambi\u00e9n se abrieron oportunidades en Marketing Digital y las ventas, y en Platzi queremos que esta Navidad y Fin de A\u00f1o vendas...", 
    "author": "nescep", 
    "date": "hace 27 minutos", 
    "link": "https://platzi.com/blog/reto-vende-mas-en-navidad-y-fin-de-ano/", 
    "_type": "dict"
}, 
{"_id": 2, ......}
    </pre>
  </div>
  