<div class="collapse" id="outputPostsId">
    <pre class="mt-3 p-2" id="output">
{
    "_id": 0, 
    "name": "Ada Lovelace, poeta cient\u00edfica", 
    "description": "Discriminada por ser mujer, firmaba sus art\u00edculos matem\u00e1ticos con sus iniciales por temor a ser rechazada.Y a pesar de una par\u00e1lisis, luego de sufrir sarampi\u00f3n...", 
    "author": "avanegaspinto", 
    "date": "hace 1 hora", 
    "link": "https://platzi.com/blog/ada-lovelace-poeta-cientifica/", 
    "_type": "dict"
}
    </pre>
  </div>